<?xml version="1.0" encoding="utf-8" ?>
<Services>
  
<Service Name="AuthWebService">
  <Method>login</Method>
  <MethodURI>http://172.26.82.21:5000/AuthWebservice</MethodURI>
  <ActionURI>http://172.26.82.21:5000/AuthWebservice/login</ActionURI>
  <Timeout>60</Timeout>
  <URL>http://?WebServer?/BsoPierClaimWebservice/BsoPierClaimService</URL>
  <Config>AbsoluteTimeout=1</Config>
  <Parameters>
    <Name>Username</Name>
    <Name>Password</Name>
    <Name>Station</Name>
    <Name>Devicename</Name>
    <Name>Version</Name>
  </Parameters>
</Service>

<Service Name="PierWebservice">
  <Method>bags</Method>
  <MethodURI>http://172.26.82.21:5000/PierWebservice</MethodURI>
  <ActionURI>http://172.26.82.21:5000/PierWebservice/bags</ActionURI>
  <Timeout>60</Timeout>
  <URL>http://?WebServer?/BsoPierClaimWebservice/BsoPierClaimService</URL>
  <Config>AbsoluteTimeout=1</Config>
  <Parameters>
    <Name>deviceID</Name>
    <Name>appVersion</Name>
    <Name>station</Name>
    <Name>userID</Name>
  </Parameters>
</Service>
</Services>