<?xml version="1.0" encoding="utf-8" ?>
<Services>
<Service Name="AuthenticateUser">
  <Method>login</Method>
  <MethodURI>http://172.26.82.21:5000/AuthWebservice</MethodURI>
  <ActionURI>http://172.26.82.21:5000/AuthWebservice/login</ActionURI>
  <ContentType>application/json</ContentType>
  <Timeout>60</Timeout>
  <Config>AbsoluteTimeout=1</Config>
</Service>

<Service Name="PierWebservice">
  <Method>bags</Method>
  <MethodURI>http://172.26.82.21:5000/PierWebservice</MethodURI>
  <ActionURI>http://172.26.82.21:5000/PierWebservice/bags</ActionURI>
  <Timeout>60</Timeout>
  <Config>AbsoluteTimeout=1</Config>
  <ContentType>application/json</ContentType>
</Service>
</Services>